/* ******************* TROUBLESHOOTING ******************* */ 


 /* div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
} 

*/

/* ******************* BODY ELEMENTS ******************* */

html, body { 
  height: 100%; 
}

body { 
  background: #ffffff; 
  font-size: 14pt; 
  line-height: 1.65; 
  color: #434242; 
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
  font-weight: 300; 
  text-rendering: optimizeLegibility; 
  /* Found these made the fonts look more pixelated but leaving for reference */ 
  /* -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; */
}
 
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, strong, b { 
  font-family: 'Merriweather', serif; 
  margin-bottom: 0; 
}

h1,h4 { 
  margin-bottom: 10px; 
}

h1 {
  font-family: 'Oswald', sans-serif; 
  color: #ffffff;
  text-align: center;
  font-size: 98pt;
  font-weight: 400; 
  text-transform: uppercase;
}

h2 { 
  font-family: 'Oswald', sans-serif; 
  font-weight: 900; 
  color: #1c1c1c; 
  font-size: 60px; 
  text-align: center; 
  margin: 0 0 25px 0; 
  line-height: 1; 
  padding-top: 40px; 
  padding-right: 5px;
  text-transform: uppercase;
}

h3 { 
  font-weight: 600; 
  color: rgba(34, 34, 34, 0.95); 
  font-size: 16pt; 
}

h4 { 
  font-size: 12pt;
}

h5 { 
  font-size: 14pt;
  font-weight: 700; 
  margin-bottom: 0;
  padding-bottom: 0;
}

h6 { 
  display: block; 
  padding-top: 1px; 
  margin-bottom: 0; 
  font-family: 'Merriweather', serif;
  font-size: 13pt; 
  font-weight: 700;
}

ul.no-bullets { 
  list-style-type: none; 
  margin: 0px; 
  padding: 0px; 
}

hr { 
  height: 3px;
  border: none;
  display: block;
  margin-bottom: 40px;
  width: 210px;
}

input, textarea {
  background-color: #ffffff;
  color: #000000 !important;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

input {
  font-weight: 500;
}

textarea {
  font-weight: 300;
}

a {
  transition: all .1s ease-in;
  color: #65bdff;
  /* blue text */
  /* #65bdff,#87b8f0,#93c5f8,#aadafe,#c5ebfe */
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #65bdff;
  color: #000000;
  /* thin underline blue */
}

li {
  white-space: nowrap;
  display: inline-block;
}


/* ******************* GENERAL LAYOUT ******************* */

.container { 
  padding: 0 100px 15px 100px; 
  margin: auto;
  width: 100% !important;
  max-width: 1150px;
}

.background-white { 
  background: #ffffff; 
}

.background-trans-white { 
  background: linear-gradient(180deg, 
  rgba(253,253,253, 0.6),
  rgba(253,253,253, 0.97),
  rgba(253,253,253, 0.97),
  rgba(253,253,253, 1));
}

.background-dark-gray { 
  background: #2d2d2d; 
}

.background-light-gray { 
  background: #f9f9f9; 
}

.background-trans-gray { 
  background: rgba(50,50,50, 0.95); 
}

.background-black {
  background-color: #000000;
}

.bg-image {
  background: no-repeat center right fixed url(../../images/nyc-02.jpg); 
  background-size: cover;
  background-color: #ffffff;  
  z-index: -3;
}

#bgfadein {
  height: 100px;
}

.height-full {
  height: 100vh;
  height: 100%;
  vertical-align: middle;
  display:flex;
  flex-direction:column;
  align-items:center; 
  justify-content:center;

  width: 100%;
}

.vertical-padding {
  height: 10px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-italic {
  font-style: italic;
}

.text-small {
  font-size: 8pt;
  font-weight: 300;
}

.hide {
  display: none !important;
}

.green {
  color: #5cb85c !important;
}

.intro-p {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12pt;
  margin-bottom: 40px;
  font-weight: 300;
}

.flip-hor { 
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.h2-icons {
  font-size: 30pt;
  vertical-align: -15px !important;
  font-weight: 700;
}

/* ******************* JS/JQ PLUGIN RELATED ******************* */

.fadeInBlock {
    opacity:0;
}

/* ******************* NAVBAR ******************* */

.navbar  { 
  width: 100%;   
  background-color: rgba(255,255,255, 0.97); 
  border: 0;
  z-index: 100; 
  border-bottom: 0.2px solid rgba(230,230,230,0.3);
  display: none;
}

.navbar-show {
  display: block;
}

.navbar .navbar-collapse { 
  padding: 0px; 
  max-height: none; 
}

.navbar .navbar-nav { 
  float: none; 
}

.navbar-nav { 
  margin: auto; 
  padding-top: 11px; 
}

.navbar .nav > li { 
  display: inline; 
  float: none; 
  color: #000000;
  text-transform: uppercase;
} 

.navbar .nav > li a { 
  display: inline; 
  text-align: center; 
  font-weight: 100; 
  font-size: 14pt; 
  color: #000000;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
  padding: 0 8px 10px 8px;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus { 
  color: #65bdff; 
  text-decoration: none; 
  border-bottom: none;
/* background-image: linear-gradient(300deg,#8fc2f7,#c5ebfe 80%); */
 /*   box-shadow: -0.3px -0.3px -0.3px rgba(0, 0, 0, 0.5); */
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
  background: transparent; 
  border-bottom: medium solid #65bdff;
}

.navbar-default .navbar-toggle {
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background: #eeeeee !important; 
}

.bottom-nav-icons {
  display: inline-block !important;
}

#bottom-nav-icons-block a {
  color: #333333;
}


.fixed .navbar  { 
  position: fixed; 
  top: 0; 
}

#nav-icon-github:hover {
  color: #6e5494;
  animation: magnify 0.1s linear normal forwards;
  -webkit-animation: magnify 0.1s ease normal forwards;
}

#nav-icon-linkedin:hover {
  color: #0077b5;
  animation: magnify 0.1s linear normal forwards;
  -webkit-animation: magnify 0.1s ease normal forwards;
}

#nav-icon-angellist:hover {
  color: #000000;
  animation: magnify 0.1s linear normal forwards;
  -webkit-animation: magnify 0.1s ease normal forwards;
}

#nav-icon-twitter:hover {
  color: #1da1f2;
  animation: magnify 0.1s linear normal forwards;
  -webkit-animation: magnify 0.1s ease normal forwards;
}

#nav-icon-music:hover {
  color: #1ed760;
  animation: magnify 0.1s linear normal forwards;
  -webkit-animation: magnify 0.1s ease normal forwards;
}


#navbar-logo-image {
  height: 40px;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 500;
}

.navbar-brand:hover {
  border-bottom: none;
}

#navbar-left-side {
  padding-left: 55px;
}

#navbar-center {
  display: none;
  font-size: 22pt;
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 1px;
  font-family: 'Oswald', sans-serif; 
  text-transform: uppercase;
}

#navbar-center a {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

#navbar-center a:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}


/* ******************* TOP ******************* */

#top:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#top {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

#top a:hover {
  border-bottom: none;
}

#title {
  color: #ffffff;
  vertical-align: middle;
}

.scroll-down { 
  height: 50px; 
  display:block; 
  position: fixed; 
  bottom: 20px; 
  left: 0; 
  right: 0; 
  background-color: transparent; 
  z-index: 1; 
  text-align: center; 
}

.scroll-down .fa-chevron-down { 
  color: #FFFFFF; 
  font-size: 26pt; 
/*  padding-right: 2px; 
  padding-top: 20px; */
  animation: wiggle 1.2s linear infinite normal;
  -webkit-animation: wiggle 1.2s linear infinite normal;
}

/* .scroll-down:hover .fa-chevron-down { 
  padding-top: 25px; 
} */

 #fadeOutOnScrollDown {
  position: fixed;

  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

#title-padding {
  padding-top: 80px;
}

#title-container {
  z-index: -1;
} 

#icons-top {
  padding-top: 16px;
  font-size: 16pt;
  text-align: center;
}

#icons-top a {
  color: #fafafa;
}

#icons-top a:hover {
  color: #ffffff;
}

/* 
#top-icon-linkedin:hover {
  color: #0077b5;
}

#top-icon-github:hover {
  color: #000000;
}

#top-icon-twitter:hover {
  color: #1da1f2;
}

#top-icon-music:hover {
  color: #1ed760;
}

#top-icon-email:hover {
  color: #ea4335;
} */

#icons-top .fa {
  margin-left: 12px;
  margin-right: 12px;
}

/* ******************* ABOUT ******************* */

#about .row > div { 
  margin-bottom: 0; 
}

#about .row > div img { 
  width: 100%; 
  max-width: 300px;
}

#about .row {
  background-image: linear-gradient(300deg,#87b8f0,#93c5f8 60%,#aadafe,#c5ebfe);
  padding: 30px;
  box-shadow: 1.5px 1.5px 4px #c8c8c8;
}

/* #81b2ed,#8fc2f7,#8fc2f7,#b9e7ff,#b7e5ff */

#about { 
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
  font-size: 13pt;
  margin: 0;
  padding: 0;
}

/* #about-img-block {
  background-image: linear-gradient(160deg,#84b5ef,#9ccffe 60%,#b9e7ff);
} */

#about-block {
  max-width: 1000px;
  margin: auto;
  padding: 0;
  margin: 0;
}

#about-intro {
  color: #ffffff; 
  font-weight: 300;
  padding: 0 5px 0 5px;
  margin: 0;
}

#about-intro a {
  color: #dedede; 
  font-weight: 400;
}

#about-intro a:hover {
  text-decoration: none;
  border-bottom: 1px solid #dedede;
  color: #000000;
 /* text-decoration: underline !important; */

}

#about-img-block {
  padding: 5px 15px 5px 5px;
  margin: 0;
}

/* ******************* SKILLS ******************* */

#skills {
  padding-bottom: 80px;
}

.skills-list {
  font-size: 11pt;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  padding-left: 30px;
  padding-bottom: 20px;
}

#skills-hr {

  background-image: linear-gradient(30deg,#00c9ff,#92fe9d);
  padding-right: 3px;

}


/* ******************* COURSEWORK ******************* */

#coursework { 
  font-size: 12pt; 
  padding-bottom: 80px;
}

.courses-list {
  padding-top: 7px;
}

.courses-list p {
  font-size: 11pt;
  line-height: 1.85;
  font-weight: 300;
}

.courses-block {
  margin-bottom: 20px;
}

.courses h4 {
    text-align: right;
}

.courses { 
  margin-top: 8px; 
  margin-bottom: 8px; 
}

.courses p > strong { 
  display: block; 
}

#coursework-hr {

  background-image: linear-gradient(30deg,#f9d423,#ff4e50);
  /* #ffbf02,#fa7d78 */
  padding-right: 3px;

}


/* ******************* JOB HISTORY ******************* */

#job-history {
  padding-bottom: 100px;
}

.job-details { 
  display: block; 
  margin-top: 6px; 
}

.job-details * { color: #22A39F; }

.job-company {
  font-family: 'Merriweather', serif; 
  font-size: 14pt;
  font-weight: 700; 
  margin-bottom: 5px;
}

.job-period {
  font-size: 10pt;
  margin-top: 3px;
  padding-top: 0;
}

.job-location {
  font-size: 10pt;
  margin-top: 3px;
}

.job-title {
  display: block; 
  padding-top: 5px; 
  margin-bottom: 0; 
  font-family: 'Merriweather', serif;
  font-size: 13pt; 
  font-weight: 700;
}

.job-description {
  font-size: 12pt;
}

#job-history-hr {
  background-image: linear-gradient(30deg,#00c9ff,#92fe9d);
  padding-right: 3px;
}

/* ******************* PROJECTS ******************* */

#projects { 
  padding-bottom: 70px;
}

#projects-main .row > div { 
  margin-bottom: 30px; 
}

#projects-hr {
  background-image: linear-gradient(30deg,#f9d423,#ff4e50);
  padding-right: 3px;

}

/* ******************* CONTACT ******************* */

#contact-top { 
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
  font-size: 12pt; 
}

#contact-hr {
  background-image: linear-gradient(30deg,#00c9ff,#92fe9d);
  padding-right: 3px;
}

#contact h2, #contact .row * { 
  color: #FFFFFF; 
}

#contact .row { 
  padding-top: 30px; 
}

.kxcd {
  background-color: #fff;
  margin: 29px 15px 0 15px;
  border-radius: 20px;
  max-width: 400px;
  padding: 15px;
}

.kxcd img {
    width: 100%;
} 

.form-block {
  margin-right: 35px;
}

.form-thankyou {
  display: none;
  padding-top: 30px;
  font-size: 13pt;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
}

#contact-intro {
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 25px;
}

#contact-intro a:hover {
  color: #ffffff;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 13pt;
  font-weight: 500;
}

#contact-hr-bottom { 
  padding-top: 40px;
  padding-bottom: 0;
  margin: auto;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #444; 
  display: block;
}

#copyright p {
  margin: 0;
  padding-bottom: 10px;
  color: #999999 !important;
  font-size: 10pt;
  text-align: center;
}

/* ******************* ANIMATIONS/EFFECTS ******************* */


@keyframes wiggle {
  0% {
    padding-top: 20px;
  }

  50% {
    padding-top: 28px;
  }

  100% {
    padding-top: 20px;
  }
}


@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes magnify {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.5, 1.5, 1.5);
  }
}


@-webkit-keyframes magnify {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.5, 1.5, 1.5);
  }
}

@-webkit-keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes wiggle {
  0% {
    padding-top: 20px;
  }

  50% {
    padding-top: 28px;
  }

  100% {
    padding-top: 20px;
  }
}

/* ******************* BREAKPOINT ADJUSTMENTS ******************* */

@media (min-width: 992px) {
  #about {
    height: 100vh;
    height: 100%;
  }
}


@media (max-width: 991px) {
  #about2 {
    padding-top: 54px;
    padding-bottom: 60px;
  } 

  #about-img-block {
    padding-bottom: 20px !important;
  }

  .courses h4 {
    text-align: left;
  }
}

@media (max-width: 767px) { 
  
  .navbar { 
    left: 0px; 
    background-color: rgba(255,255,255, 0.97); 
  }

  .navbar .navbar-left > li { 
    /* height: 50px; */ 
    text-align: right;
  } 

  .navbar .navbar-left > li a { 
    text-align: right; 
    margin: 26px 10px 46px 0;
    padding: 0;
    display: block; 
    text-align: right; 
    font-size: 18pt; 
  }

  .navbar .navbar-left > li a:hover { 
    font-weight: 300; 
    color: #000000; 
  }

  .navbar .nav {
    padding: 0;
    margin: 0;
  }

  #navbar-right-side .navbar-right li {
    text-align: right;
  }

  #navbar-right-side .navbar-right li a {
    margin: 0 15px 30px 30px; 
    padding: 0;  
    font-size: 18pt;
  }

  #navbar-right-side { 
    text-align: right; 
    display: block !important; 
  }

  #bottom-nav-icons-block {
    padding: 0;
    margin: 0;
  } 

  #navbar-center {
    display: inline;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
    background: transparent; 
    color: #65bdff;
    border-bottom: none;
  }

  .navbar-toggle {
    border: none;
    outline: none;
  }

  .icon-bar {
    background-color: #000000 !important;
  }
  
  .fixed .navbar { 
    top: 0px; 
  }
  
  .hidden-phone { 
    display: none; 
  }
  
  #about .row * { 
    text-align: left; 
  }
  
  #contact { 
    padding-bottom: 60px; 
  }

  #contact a .icon { 
    float: left; 
    margin-right: 10px; 
  }
 
  h1 {
  font-size: 66pt;
  }

  h2 {
    font-size: 50px; 
  }

  .h2-icons {
    font-size: 26pt;
  }

  a {
    transition: none;
  }

  .intro-p {
    font-size: 11pt;
  }

  #about { 
    font-size: 12pt;
  }

  #about-img {
    width: 70% !important;
    text-align: center;
    padding: 8px 0 0 0;
    margin: 0;
  }

  #about-img-block {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .kxcd {
    margin-right: 50px;
  }

  #contact {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

}    

@media (max-width: 930px) {
  #navbar-right-side {
    display: none;
  }
}

@media only screen and (orientation: portrait) and (max-width: 767px)  {
  .bg-image {
    /*  -webkit-background-size: auto 150%; */
    background-attachment: scroll;
  } 

  .container { 
    padding: 0 15px 15px 15px; 
  }

  #about-block .fadeInBlock {
    opacity: 100;
  }

  #contact .row .fadeInBlock {
    opacity: 100;
  }

  #fadeOutOnScrollDown {
    position: absolute;
  }

  .scroll-down{
    position: absolute;
  }


}
@media only screen and (orientation: landscape) and (max-width: 767px)  { 
  .container { 
    padding: 0 15px 15px 15px; 
  }

  #fadeOutOnScrollDown {
    position: absolute;
  }

  .scroll-down{
    position: absolute;
  }
}
